# First Commander (liquidctl list -v for values)
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="0c10", ATTRS{serial}=="1805006373291A10", SYMLINK+="commander0", TAG+="systemd"

# Second Commander
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="0c10", ATTRS{serial}=="1305006473291217", SYMLINK+="commander1", TAG+="systemd"

# HX1500i
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c1f", SYMLINK+="hx1500i", TAG+="systemd"

# ASUS Aura LED Controller
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19af", ATTRS{serial}=="9876543210", SYMLINK+="auraled0", TAG+="systemd"

# Allow non-root
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="0c10", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1c1f", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="19af", TAG+="uaccess"
