[Unit]
Description=Noctalia Shell Service
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Environment=QT_QPA_PLATFORM=wayland
ExecStart=qs -c noctalia-shell
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
