[Unit]
Description=Stream Deck Plus System Monitoring Daemon
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/uv run --project /home/jmarsh/dev/icub3d/stream-deck-controller /home/jmarsh/dev/icub3d/stream-deck-controller/main.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
